<h1>Buchformular</h1>
<form class="ui large form"
      >

  <div class="field">
    <label>Buchtitel</label>
    <input
      name="title"
      >
    @if (errors['title']) {
        <div class="ui negative message">
        {{ errors['title'] }}
        </div>
    }
  </div>

  <div class="field">
    <label>Autor</label>
    <input
      name="author"
      >
    @if (errors['author']) {  
        <div class="ui negative message">
        {{ errors['author'] }}
        </div>
    }
    </div>

  <div class="field">
    <label>Erscheinungsdatum</label>
    <input
      name="year"
      >
    @if (errors['year']) {  
        <div class="ui negative message">
        {{ errors['year'] }}
        </div>
    }
  </div>
  
  <div class="field">
    <label>Verlag</label>
    <input
      name="publisher"
      >
    @if (errors['publisher']) {  
        <div class="ui negative message">
        {{ errors['publisher'] }}
        </div>
    }
  </div>
 
  <div class="field">
    <label>Preis</label>
    <input
      name="price"
      >
    @if (errors['price']) {  
        <div class="ui negative message">
        {{ errors['price'] }}
        </div>
    }
  </div>
  <div class="field">
    <label>ISBN</label>
    <input
      name="isbn"
      />
    @if (errors['isbn']) {   
        <div class="ui negative message">
        {{ errors['isbn'] }}
        </div>
    }
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea
      name="description"

      rows="3"></textarea>
  </div>

  <button type="submit" class="ui button">Speichern</button>
</form>