@page "/"

<PageTitle>Home</PageTitle>

<h3>RandomButton SSR</h3>

<RandomButton />

<h3>RandomButton SSR + interactive</h3>

<RandomButton @rendermode="InteractiveServer" Max="10" />

<h3>RandomButton (Interactive) Web Assembly</h3>

<RandomButton @rendermode="InteractiveWebAssembly" Max="1000" />

<h3>RandomButton Interactive Auto</h3>

<RandomButton @rendermode="InteractiveAuto" Max="1000" />