<!--@defer{
  @if(listOn) {
    <wea5-book-list (showDetailsEvent)="showDetails($event)" />
  }
  @if(detailsOn) {
    <wea5-book-details [book]="book" (showListEvent)="showList()"/>
  }
}@placeholder (minimum 500ms) {
  <div class="ui active inverted dimmer">
    <div class="ui text loader large">Loading ...</div>
  </div>
}-->

<div class="ui two item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item" >Home</a>
  <a routerLink="books" routerLinkActive="active" class="item" >Bücher</a>
</div>
<router-outlet />
